services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: test_task_aiti_guru
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./db1.sql:/docker-entrypoint-initdb.d/init.sql:ro
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d test_task_aiti_guru"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s

  api:
    build: .
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgresql+psycopg2://postgres:postgres@db:5432/test_task_aiti_guru
    depends_on:
      db:
        condition: service_healthy

volumes:
  postgres_data:
